essay-question {
    .writing-question-wrapper {
        padding-top: 28px;
        display: flex;

        .question-container {
            padding: {
                left: 35px;
                right: 25px;
            }
        }

        .answer-container {
            margin-left: 20px;

            p {
                color: $fontColor3;
                line-height: 1.5em;
            }

            answer-builder {
                .rate-answer-wrapper {
                    .item-repeater:last-child {
                        width: 26px;
                    }
                }
            }

        }
    }
}
