free-text-answer {
    .free-text-answer-wrapper {
        @include dimension(520px, 115px);
        position: relative;
        padding-left: 30px;

        .answer-status-wrapper, .input-wrapper {
            position: absolute;
        }

        .answer-status-wrapper.ng-enter {
            transition: 0.5s linear;
            opacity: 0;
        }

        .answer-status-wrapper.ng-enter-active {
            opacity: 1;
        }

        .answer-status {
            @include dimension(85px, auto);
            display: flex;
            align-items: center;
            .user-answer {
                @include text-style(18px, $fontColor3, Lato, $regularFontWeight);
                display: inline-block;
            }

            svg-icon.correct, svg-icon.wrong {
                margin-left: 17px;
                float: right;
                display: none;
            }
        }

        .correct-answer {
            @include text-style(18px, $fontColor2, Lato, $regularFontWeight);
            margin-top: 10px;
            display: none;

            span {
                color: $fontColor5;
            }
        }

        .neutral, .wrong {
            .correct-answer {
                display: block;
            }
        }

        .wrong {
            svg-icon.wrong-icon {
                svg {
                    @include dimension(15px, auto);
                    line {
                        stroke: $backgroundColor3;
                    }
                }
                position: relative;
                top: 1px;
                display: block;
                margin-left: 10px;
            }

            .user-answer {
                color: $fontColor6;
            }
        }

        .correct {
            svg-icon.correct-icon {
                display: block;
                margin-left: 10px;
                svg {
                    @include dimension(26px, auto);
                    line {
                        stroke: $backgroundColor4;
                    }
                }
            }

            .user-answer {
                color: $fontColor5;
            }
        }

        .input-wrapper {
            @include dimension(261.5px, 43px);
            position: relative;

            .arrow-wrapper {
                @include dimension(48px, 48px);
                position: absolute;
                top: 1px;
                right: -2px;
                cursor: pointer;

                svg-icon.arrow-icon {
                    @include dimension(48px, auto);
                    position: relative;
                    z-index: 2;
                    float: left;
                    path {
                        fill: $backgroundColor5;
                    }
                }

                .svg-back {
                    @include dimension(24px, 45px);
                    background-color: $backgroundColor5;
                    position: absolute;
                    z-index: 1;
                }
            }

            .arrow-wrapper:active {
                svg path {
                    fill: $backgroundColor6;
                }

                .svg-back {
                    background-color: $backgroundColor6;
                }
            }

            input {
                @include dimension(244px, 43px);
                @include text-style(21px, $fontColor3, Lato, $regularFontWeight);
                border-radius: 30px;
                border: 1px solid $borderColor2;
                background-color: $backgroundColor7;
                padding-left: 18px;
            }

            input:focus {
                outline: none;
            }
        }
    }
}
