znk-exercise {
    .question-basic-style {
        .question-container {
            @include text-style(16px, $fontColor4, Lato, $regularFontWeight);
        }

        .answer-container {
            .content {
                p {
                    max-width: 370px;
                    line-height: 1.5em;
                }
            }
        }

        img.img-to-zoom {
            border: 1px solid $borderColor5;
            cursor: pointer;
            vertical-align: middle;
        }
    }

    .orange-square {
        background-color: #ff931e;
        color: white;
        font-size: 14px;
        text-align: center;
        padding: 0 3px;
    }
}
