znk-exercise {
    simple-question {
        .simple-question-wrapper {
            padding-top: 33px;

            .answer-container {
                width: auto;
                margin: 0 auto;
                overflow-y: auto;

                .question-content {
                    font-size: 18px;
                    margin-bottom: 1em;
                    p:last-child {
                        margin-bottom: 0;
                        line-height: 1.5em;
                    }
                }

                p {
                    color: $fontColor3;
                    line-height: 1.5em;
                }
            }
        }
    }
}
