znk-exercise {
    .swiper-container {
        box-shadow: $boxshadowColor4;
        border-bottom: {
            left-radius: 15px;
            right-radius: 15px;
        }
        overflow: hidden;
        background-color: $backgroundColor1;
    }

    .question-wrapper {
        height: 100%;
        padding-top: 38px;
        padding-bottom: 5px;
        box-sizing: border-box;

        .question-container,
        .answer-container {
            @include dimension(50%, 100%);
            margin: 0;
            overflow-y: auto;
            padding: 0 20px;
        }
    }

    questions-carousel {
        question-builder {
            img {
                max-width: 400px !important;
                height: auto !important;
                vertical-align: middle;
            }
            height: 100%;
        }
    }

    znk-exercise-btn-section {
        .shadow-container {
            background: $backgroundColor1;
        }
    }

    .question-bottom-shadow {
        border: {
            bottom-left-radius: 15px;
            bottom-right-radius: 15px;
        }
    }
}

.workout-roadmap-tutorial-intro {
    @include absolute-full-cover;
    z-index: 5;

}

//table style from admin
znk-exercise .question-wrapper, .tutorial-intro {
    table {
        border-collapse: collapse;
        font-size: 1em;
        width: 100%;

        td {
            padding: 5px;
            border: 1px solid $borderColor6;
            vertical-align: top;
        }
    }
}
