<answer-explanation></answer-explanation>

<div class="question-wrapper reading-question-wrapper question-basic-style" image-zoomer>

    <div class="question-container znk-scrollbar">
        <div class="passage-title">{{::vm.passageTitle}}</div>
        <div class="article">
            <div class="article-content"></div>
        </div>
    </div>

    <div class="answer-container znk-scrollbar">
        <div class="question-content"></div>
        <answer-builder></answer-builder>
    </div>
</div>
