/*border color*/
$borderColor1: #ffffff;
$borderColor2: #757a83;
$borderColor3: #87ca4d;
$borderColor4: #4f4d4d;
$borderColor5: #f4f4f4;
$borderColor6: #dddddd;
$borderColor7: #e7e7e7;
$borderColor8: #0a9bad;

/*background*/
$backgroundColor1: #ffffff;
$backgroundColor2: #ff931e;
$backgroundColor3: #ff6766;
$backgroundColor4: #87ca4d;
$backgroundColor5: #6ac1cc;
$backgroundColor6: #2c808a;
$backgroundColor7: #fafafa;
$backgroundColor8: #e8e7e7;
$backgroundColor9: #f7f6f6;
$backgroundColor10: #0a9bad;
$backgroundColor11: #f6f6f6;
$backgroundColor12: #a6cfd4;
$backgroundColor13: #89ABAF;
$backgroundColor14: #c2c2c2;

/* box shadow */
$boxshadowColor1: 0px 5px 6px -3px rgba(0, 0, 0, 0.2);
$boxshadowColor2: 0px 9px 12px 1px rgba(0, 0, 0, 0.14);
$boxshadowColor3: 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
$boxshadowColor4: 0 3px 7px 0 rgba(0, 0, 0, 0.27);

/* font color*/
$fontColor1: #ffffff;
$fontColor2: #757a83;
$fontColor3: #4f4d4d;
$fontColor4: #161616;
$fontColor5: #87ca4d;
$fontColor6: #ff6766;
$fontColor7: #b7b7b7;
$fontColor8: #0a9bad;
$fontColor9: #2AB79E;
$fontColor10: #626060;

/* scroll bar */


/* Subjects colors */
$mathColor : #AF89D2;
$verbalColor : #F9D41B;
$essayColor : #FF5895;
