.math-bc {
    border-color: $mathColor;
}
.math-bg {
    background-color: $mathColor;
}

.verbal-bc {
    border-color: $verbalColor;
}
.verbal-bg {
    background-color: $verbalColor;
}

.essay-bc {
    border-color: $essayColor;
}
.essay-bg {
    background-color: $essayColor;
}

