.math-bc {
    border-color: $mathColor;
}
.math-bg {
    background-color: $mathColor;
}

.verbal-bc {
    border-color: $verbalColor;
}
.verbal-bg {
    background-color: $verbalColor;
}

.essay-bc {
    border-color: $essayColor;
}
.essay-bg {
    background-color: $essayColor;
}

.znk-app-logo-wrap{
    display: flex;
    height: 100%;
    align-items: center;
    svg-icon.znk-app-name-logo{
        width: 100px;
        svg{
            width: 100%;
        }
    }
}
